body {
  background-color: white;
  border-style: solid;
  background-color: rgb(201, 119, 12);
  color: rgb(247, 239, 239);
}

h1 {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 145, 0);
  margin: 0%;
  padding: 10px;
}

.Queastion_Card_1 {
  border-style: solid;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Switch {
  border-style: solid;
  display: inline;
  padding: 10px;
}
